# Dependencies
node_modules/
package-lock.json
yarn.lock

# Deployment
function.zip

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
